@page
@model IndexModel
@{

    ViewData["Title"] = "Sklep";
}
<link rel="stylesheet" href="style.css">
<div class="text-center">
    <img src="~/lib/fotka.png">
</div>
<img src="~/lib/nature.jpg" width="95%" height="95%" style="margin-left: 60px">