@page
@model WebApplication1.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Użytkownicy";
}

<h1>Użytkownicy</h1>


<table class="table">
    <thead>
        <tr>
            <th>
              Nazwa
            </th>
            <th>
             Email 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>           
                <a asp-page="./Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
