@page
@model WebApplication1.Pages.Orders.CheckoutModel

@{
    ViewData["Title"] = "Złóż zamówienie";
}

<h1>Potwierdź złożenie zamówienia</h1>

<div>
   
    <hr />

    
    <form method="post">
       
        <input type="submit" value="Potwierdzam złożenie zamówienia" class="btn btn-success" /> |
        <a asp-page="./Index">Powrót</a>
    </form>
</div>
