# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Michal\Desktop\studia\ASK\ASK_PROJECTS_REPO\MD-project\ISCAS_PARSER\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
